<!--<app-quote-form>(addQuotes)="addNewQuotes($event)"</app-quote-form>-->
<div class="container-fluid">

  <div id="intro">
      <h1> Welcome to Inspirational Quotes</h1>
      <h2>Encouraging people to work towards there Dreams</h2>
      <button id="cool">The Best Quotes</button>
      <button id="motiv">Motivational Quotes</button>
      <button id="all">All Quotes</button>
  </div>
</div>
<!--<app-quote-form(addQuotes)="addNewQuotes($event)"></app-quote-form>-->

<div id="show">
  <div class="row">
  <div class="col3 inner-left">

    <h3 id="quo"The Best Quotes></h3>
    <div *ngFor="let quote of quotes;let i = 'index'">
      <ul id="inspire">
        <li>{{quote.publisher}} posted on {{quote.completeDate|date}}</li>
        <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
      </ul>
    </div>
  </div>
  </div>
</div>


